@{
    ViewBag.Title = "Home Page";
}
<style>
    #image1 {
        background: url('https://th.bing.com/th/id/R.5107b3e393f638caff3af7d72ff51756?rik=83tNi%2fVQOjFWXQ&pid=ImgRaw&r=0');
    }
    #image2 {
        background: url('https://th.bing.com/th/id/OIP.EewpEFjqPMi13wPHeSJM6AHaEo?pid=ImgDet&rs=1');
    }
    #div1{
        font-size:20px;
        font-family:'Franklin Gothic';
    }
</style>
<div class="jumbotron" id="image2">
    <h1>Jims Gym</h1>
    <p class="lead">
        <div id="div1">The better fit</div><br />
        So Much More<br />
        For So Much Less!.
    </p>
</div>

<div class="row" id="image1">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Since opening our doors in 1995, our vision has been to become South Africa’s most loved health and fitness brand. Whether it’s bringing generators on board to ensure your workout is never disrupted or including free Wi-Fi – we aim to make every workout at Planet Fitness an awesome experience.
        </p>
    </div>
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>We understand that South Africa’s needs are as diverse as its heritage, we strive to offer value for money to all our customers across our well-loved brands Planet Fitness, Planet Fitness Signature and JustGym.</p>
    </div>
  
</div>