
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notFound</title>
</head>
<body>
    <div> 
        <h3>Contents are no longer available on this page , try again later .</h3>
    </div>
</body>
</html>
