
@{
    ViewBag.Title = "OrderCategory";
}

<h2>Orders Details</h2>

<a href="/order/index" class="btn btn-info">Ongoing Orders</a>
<a class="btn btn-info" href="/Order/UserCompletedOrders">Completed Orders</a>
<a class="btn btn-info" href="/Tracking/Index">Track Order</a>

